extends layout

block content
	div.row.center-align
		if error
			p #{error}
	div.row.valign-wrapper
		div.col.s12.valign.center-align
			form(action="/users/login" method="post")
				
				label(for="email") Email
				input(type="email" name="email")#email
				br
				label(for="password") Password
				input(type="password" name="password")#password
				br
				input(type="submit" value="Login")